.banner-message {
  max-width: 600px;
  position: fixed;
  top: 100px;
  right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #afdbbe;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.message__message-text {
  margin: 13px 0 22px 20px;
  color: #373738;
}

.message-item-name {
  font-weight: bold;
}

.message-close-icon {
  display: block;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin: 22px 25px 18px 38px;
}
